[gc]
	autoDetach = false
[commit]
	gpgSign = true
[user]
	name = Marco Micera
[core]
	excludesFile = ~/.config/git/ignore
[alias]
	b = !git rev-parse --abbrev-ref HEAD
[color "diff"]
    meta = yellow
    frag = magenta
    old = red bold
    new = green
    plain = white
	d = !git diff
