kubectl 1.23.4
terraform 1.1.6
kubectx 0.9.4
gcloud 374.0.0
python 3.10.2
shellcheck 0.8.0
stern 1.21.0
terraform-docs 0.16.0
kustomize 4.5.2
skaffold 1.9.1
helm 3.9.0
jsonnet 0.18.0
golang 1.17.8
tflint 0.34.1
tfsec 1.8.0
nodejs lts
fzf 0.29.0
delta 0.13.0
awscli 2.7.4
aws-vault 6.6.0
