# bat
alias cat='bat'

# ls 
alias ls='colorls --git-status --group-directories-first'
alias sl="ls"

# ls + hidden files
alias l="ls --almost-all"

# ls + hidden files + long format
alias ll='ls --long --almost-all'
alias lll="ll"

# grep
alias grepi='grep -i'

# git
alias gcs="git commit -S"
alias gcsm="gcs -m"
alias gcsem="gcs --allow-empty -m"

# tree
alias tree='colorls --tree --git-status'
alias t='tree'

# vim
alias v='vim'
# function v() {
#     if [ "$1" != "" ]
#     then
#         vim $1
#     else
#         vim .
#     fi
# }
alias vimtutor="v /usr/share/vim/vim82/tutor/tutor"

# General aliases
# alias n='nano'
alias nkc='n ~/.kube/config'
alias f='fzf'

# zshrc
alias nzsh='n ~/.zshrc'
alias nzshr='n ~/.zshrc'
alias nzshrc='n ~/.zshrc'
alias vzsh='v ~/.zshrc'
alias vzshr='v ~/.zshrc'
alias vzshrc='v ~/.zshrc'
alias szsh="source ~/.zshrc"
alias src="source ~/.zshrc"
alias srczsh="source ~/.zshrc"
alias srczshr="source ~/.zshrc"
alias srczshrc="source ~/.zshrc"
alias dtf="~/git/dotfiles/import.zsh"
alias dtfl="~/git/dotfiles/import.zsh"
alias dtfls="~/git/dotfiles/import.zsh"
alias dotfiles="~/git/dotfiles/import.zsh"

# nnn
alias nnn='nnn -deH'
alias nn='nnn'
alias n='nnn'

# Typos
alias cd..="cd .."
alias pdw="pwd"
alias clar="clear"
alias cler="clear"
alias clera="clear"
alias claer="clear"
alias celar="clear"
alias lcear="clear"
alias clea="clear"
alias lcaer="clear"
alias idae="idea"
alias coed="code"

# docker-compose
alias c="docker-compose"
alias cup="docker-compose up"
alias cupd="docker-compose up -d"

# kubectl
alias k="kubectl"
alias ctx="kubectx"
alias cctx="kubectx -c"

# kustomize
alias ku="kustomize"
alias kub="kustomize build"

# aws
alias awsid="aws --no-cli-pager --output yaml sts get-caller-identity"

# skaffold
alias s="skaffold"

# KubeMQ
alias kmq="kubemqctl"

# Terraform
alias tf="terraform"
alias tfo="tf output"

# Helm
alias h="helm"
alias hf="helmfile"

# remake
alias m="remake --trace"
alias ma="remake --trace --dry-run"
alias maybe="remake --trace --dry-run"
