# bat
alias cat='bat'

# ls 
alias ls='colorls --git-status --group-directories-first'
alias sl="ls"

# ls + hidden files + long format
alias l="ls --long --almost-all"
alias ll="l"
alias lll="l"

# grep
alias grepi='grep -i'

# diff
alias diff='delta'

# ag (The Silver Searcher)
# alias ag="ag --context 3 --unrestricted"

# git
alias gcs="git commit -S"
alias gcsm="gcs -m"
alias gcse="gcs --allow-empty"
alias gcsem="gcse -m"
fzf-git-branch() {
    git rev-parse HEAD > /dev/null 2>&1 || return

    git branch --color=always --all --sort=-committerdate |
        grep -v HEAD |
        fzf --height 50% --ansi --no-multi --preview-window right:65% \
            --preview 'git log -n 50 --color=always --date=short --pretty="format:%C(auto)%cd %h%d %s" $(sed "s/.* //" <<< {})' |
        sed "s/.* //"
}
fzf-git-checkout() {
    git rev-parse HEAD > /dev/null 2>&1 || return

    local branch

    branch=$(fzf-git-branch)
    if [[ "$branch" = "" ]]; then
        echo "No branch selected."
        return
    fi

    # If branch name starts with 'remotes/' then it is a remote branch. By
    # using --track and a remote branch name, it is the same as:
    # git checkout -b branchName --track origin/branchName
    if [[ "$branch" = 'remotes/'* ]]; then
        git checkout --track $branch
    else
        git checkout $branch;
    fi
}
alias gc="fzf-git-checkout"

# tree
alias tree='tree' # 'colorls --tree --git-status'
alias t='tree'

# vim
alias v='vim'
# function v() {
#     if [ "$1" != "" ]
#     then
#         vim $1
#     else
#         vim .
#     fi
# }
alias vimtutor="v /usr/share/vim/vim82/tutor/tutor"

# General aliases
# alias n='nano'
alias nkc='n ~/.kube/config'
alias f='fzf'

# zshrc
alias nzsh='n ~/.zshrc'
alias nzshr='n ~/.zshrc'
alias nzshrc='n ~/.zshrc'
alias vzsh='v ~/.zshrc'
alias vzshr='v ~/.zshrc'
alias vzshrc='v ~/.zshrc'
alias szsh="source ~/.zshrc"
alias src="source ~/.zshrc"
alias srczsh="source ~/.zshrc"
alias srczshr="source ~/.zshrc"
alias srczshrc="source ~/.zshrc"
DOTFILES_DIR="~/git/dotfiles"
alias sync="make --directory=${DOTFILES_DIR} sync"
alias dtf="make --directory=${DOTFILES_DIR} import"
alias dtfl="dtf"
alias dtfls="dtf"
alias dotfiles="dtf"

# nnn
alias nnn='nnn -deH'
alias nn='nnn'
alias n='nnn'

# Typos
alias cd..="cd .."
alias pdw="pwd"
alias clar="clear"
alias cler="clear"
alias clera="clear"
alias claer="clear"
alias celar="clear"
alias lcear="clear"
alias clea="clear"
alias lcaer="clear"
alias idae="idea"
alias coed="code"

# docker-compose
alias c="docker-compose"
alias cup="docker-compose up"
alias cupd="docker-compose up -d"

# kubectl
alias k="kubectl"
alias kx="kubectx"
alias kxc="kubectx --current"
alias kn="kubens"
alias knc="kubens --current"

# kustomize
alias ku="kustomize"
alias kub="kustomize build"

# aws
alias awsid="aws --no-cli-pager --output yaml sts get-caller-identity"

# skaffold
alias s="skaffold"

# KubeMQ
alias kmq="kubemqctl"

# Terraform
alias tf="terraform"
alias tfo="tf output"

# Helm
alias h="helm"
alias hf="helmfile"

# remake
alias m="remake --trace"
alias ma="remake --trace --dry-run"
alias maybe="remake --trace --dry-run"
